@import url(./user.css);
@import url(./cards.css);

:root{
--blue: hsl(246, 80%, 60%);

--work: hsl(15, 100%, 70%);
--play: hsl(195, 74%, 62%);
--study: hsl(348, 100%, 68%);
--exercise: hsl(145, 58%, 55%);
--social: hsl(264, 64%, 52%);
--selfCare: hsl(43, 84%, 65%);

--veryDarkBlue: hsl(226, 43%, 10%);
--darkBlue: hsl(235, 46%, 20%);
--desaturatedBlue: hsl(235, 45%, 61%);
--paleBlue: hsl(236, 100%, 87%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body{
  background-color: var(--veryDarkBlue);
  font-size: 1.25rem;
  font-weight: 400;
}

h1,h2,span{
  color: #fff;
}

img{
  max-width: 100%;
}

section{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  max-width: 1080px;
  margin: 50px auto;
}
@media (max-width: 767px){
  section{
    grid-template-columns: 1fr;
    padding: 40px 20px
  }
}