.user{
  border-radius: 15px;
  background-color: var(--darkBlue);
}

/* user-info */
.user-info{
  background-color: var(--blue);
  border-radius: 15px;
  padding: 20px 20px 60px;
}
@media(max-width:767px){
  .user-info{
    display: flex;
    padding-bottom: 20px;
  }
}
.user-info figure{
  display: block;
  width: 74px;
  height: 74px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-bottom: 40px;
}
@media(max-width:767px){
  .user-info figure{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0px;
  }
}
.user-info span{
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--paleBlue);
}
.user-info h1{
  font-weight: 300;
}
@media(max-width:767px){
  .user-info h1{
    font-size: 1.5rem;
  }
}

/* user-filter */
.user-filter{
  padding: 20px;
}
@media(max-width:767px){
  .user-filter{
    display: flex;
    justify-content: space-between;
  }
}

/* user-filter form */
.user-filter form div{
  display: block;
  margin-bottom: 15px;;
}
.user-filter form input[type=radio]{
  visibility: hidden;
  opacity: 0;
}
.user-filter form input[type=radio]:checked + label{
  color: #fff;
  filter: brightness(2);
}
.user-filter form label{
  margin-left: -20px;
  font-size: 1rem;
  color: var(--paleBlue);
  cursor: pointer;
  filter: brightness(.5);
}